@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@theme {
  /* Globais */
    --color-primary-green: #10b981;
  /* Introduction page */
  --color-primary-black-introduction: #080d14;
  --color-primary-orange-introduction: #D97706;
}
